html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
}

.portrait-container {
  position: relative;
}

img.portrait {
  max-height: 650px;
}

.name {
  color: red;
}

.projects-container {
  display: grid;
  
}