:root {
  --main-bg-color: white;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

.top-background {
  position: absolute;
  background-color: #7d0c19;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(-10deg);
  transform-origin: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.165);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 3rem;
}

.portrait-container {
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.165);
  background-color: tomato;
  max-height: 800px;
  background-color: var(--main-bg-color);
}

img.portrait {
  max-height: 800px;
}

h2.name {
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.471);
  position: absolute;
  font-size: 4rem;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: 0;
  width: max-content;
}

.desc-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 300px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.165);
  padding: 2rem;
  background-color: var(--main-bg-color);
}

.desc-text {
  font-size: 1.8rem;
}

.socials-container {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}

.socials-container img {
  width: 42px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block: 4rem;
  width: min(100% - 50px, 1700px);
}

.main-header {
  align-self: flex-start;
}

.main-header-text {
  font-size: 4rem;
}

.projects-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.project-container {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.165);
  background-color: var(--main-bg-color);
  width: 500px;
  height: 600px;
}

.project-screenshot {
  height: 60%;
  width: 100%;
  background-color: tomato;
}

.project-header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
}

.project-socials {
  display: flex;
  gap: 1rem;
}

.project-socials img {
  width: 42px;
  cursor: pointer;
}

.project-desc-text {
  padding: 1rem;
  font-size: 1.3rem;
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #7d0c19;
  color: white;
  padding: 6rem;
  font-size: 1.5rem;
}

.contacts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts-container p {
  margin: 0;
  padding: 0;
}

.phone-number {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.phone-number img {
  filter: invert(100%) sepia(16%) saturate(2%) hue-rotate(72deg) brightness(106%) contrast(101%);
  width: 42px;
}

.email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email img {
  filter: invert(100%) sepia(16%) saturate(2%) hue-rotate(72deg) brightness(106%) contrast(101%);
  width: 42px;
}

.socials-footer {
  display: flex;
  gap: 1rem;
}

.socials-footer img {
  width: 42px;
  cursor: pointer;
}

.footer-portrait picture img {
  max-width: 1000px;
}

@media (max-width: 810px) {
  .top-background {
    width: 100%;
    height: 60%;
    z-index: -1;
    transform: skewY(-10deg);
    transform-origin: 0;
  }

  header {
    height: 60%;
    display: inline-block;
  }

  .portrait-container {
    max-height: 500px;
    max-width: 400px;
    float: left;
    margin-right: 2rem;
  }
  
  img.portrait {
    max-height: 500px;
  }
  
  h2.name {
    font-size: 4rem;
    top: 3%;
    left: 125%;
    transform: translateX(-50%);
  }

  .desc-container {
    display: block;
    margin-top: 6rem;
    margin-left: 6rem;
    min-height: 550px;
  }

  .socials-container {
    float: right;
  }
  
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .project-container {
    width: auto;
    height: 400px;
  }

  footer {
    padding: 1.5rem;
  }

  .contacts-container {
    gap: 1rem;
  }

  .footer-portrait picture img {
    max-width: 450px;
  }
}